/*================================
=            Elements            =
================================*/



a {
	transition: all $hovertransition ease-in;
	
	&:focus {
		outline: none;
	}
}
@media screen and (max-width: em(600)) {
	a {
		word-wrap: break-word;
	}
}
hr {
	clear : both;
	display : block;
	margin : $baselineheight * 2 0;
	padding : 0;
	height : 1px;
	border : 0;
	border-top : 1px solid $bordercolor;

	&.separator--floral {
		height: em(30);
		width: 100%;
		margin: 5em auto 0;
		border: none;
		background-image: url("#{$image-dir}/layout/separater.png");
		background-repeat: no-repeat;
		background-position: center center; 
	}
}






/*----------
Images
----------*/
img {
	max-width : 100%;
	border-width : 0;
	vertical-align : middle;
	-ms-interpolation-mode : bicubic;
}

.img--rounded {
	border-radius :$radius * 4;
}

.img--polaroid {
	padding : $gutterwidth / 2;
	background-color : $white;
	border : 1px solid $bordercolor;
	box-shadow : 0 1px 3px rgba(0,0,0,.1);
}

.img--circle {
	border-radius : 100%;
}




/*----------
Figure
----------*/
figure {
	margin-bottom : 0;

	img {
		margin-bottom : $baselineheight / 4;
	}

	figcaption {
		display : block;
		font-weight : normal;
		@include font-size(14);
		font-style : italic;
		color : $grey;
	}
}




/*----------
SVG
----------*/
svg {
	vertical-align: middle;
	width: 100%;
	height: 100%;
	transition: all $hovertransition ease-in;
}
