/*==============================
=            Modals            =
==============================*/



.modal {
	left: 0;
	right: 0;
	padding: 2.5rem 1.5rem 1.5rem;
	background-color: $white;
	max-height: 70%;
	width: 80%;
	max-width: em(900);
	margin: auto;
	overflow-y: auto;
}

@media screen and (max-width: rem(425)) {
	.modal {
		width: 90%;
		padding: 2.5rem 1rem 1rem;
	}
}
